@media (min-width: 1200px) {
    body {
        padding: 40px;
        background-image: url(./images/bg-desktop.svg);
        max-height: 100vh
    }
 
    .header img {
        width: 200px;
    }

    .main {
        flex-direction: row;
        max-width: 1500px;
        margin-top: 100px;
        gap: 50px;
    }

    .hero-img {
        width: 50%;
    }

    .hero-img img {
        width: 100%;
    }

    .hero-info {
        width: 50%;
    }

    .hero-info {
        text-align: left;
        align-items: flex-start;
        max-width: 600px;
        height: 400px;
        justify-content: flex-start;
        padding: 0 30px;
    }

    h1 {
        font-size: 45px;
    }

    .hero-info p {
        font-size: 1.125rem;
        line-height: 30px;
    }

    .hero-info a {
        padding: 15px 70px;
        border-radius: 30px;
        font-size: 18px;
    }

    .footer {
        justify-content: flex-end;
        padding-right: 50px;
    }

    .footer a {
        font-size: 20px;
        padding: 20px;
    }
}
